{% extends 'courses/nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Peer2Peer-Grading: Peer Submission</title>
  <style>
    .margin {
      margin-top: 35px;
    }

    .radius {
      border-radius: 10px;
      /*margin-top: 35px;*/
      padding: 20px 24px;
    }

    .underline {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: #ffffff;
      height: 45px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-family: "Lucida Console", Courier, monospace;
      width: 100px;
    }

    a:hover {
      color: #7300ff;
    }
  </style>
</head>

<body>

  <div class="container-fluid">
    <div class="row-content row">
      <div class="col-sm-12 col-md-12 text-center">
        <hr style="border: 1px solid gray; width: 100%;">
      </div>

    </div>
    <div class="row-content row">
      <div class="col-sm-12 col-md-4" style="margin: 0 auto;">
        <h4>Submitted Video:</h4>
        {% if submitted_link %}
        <iframe src="{{submitted_link}}" width="400" height="300" style="margin-top: 20px;"
          allowfullscreen="allowfullscreen"></iframe>
        {% endif %}
        {% if submitted_doc_link %}
        <h4>Submitted File:</h4>
        <a href="{{submitted_doc_link}}" target="_blank" style="color: #2f2586; font-size: large;">Click here</a> to
        view file.<br><br>
        <!-- <iframe src="{{doc_link}}" width="600" height="600" allowfullscreen="allowfullscreen"></iframe> -->
        {% endif %}
        <!-- <h4>Submitted Files:</h4>
        {% for file in files %}
        <h5><a href="{{ file.sub.url }}">{{ file.sub.url }}</a></h5>
        {% endfor %} -->
      </div>
      <div class="offset-md-2 col-sm-12 col-md-4" style="margin: 0 auto;">
        <h4>Student Name: {{ current_sub.student.username }}</h4>
        <h5>Max Marks: {{ current_sub.assignment_id.points }}</h5>

        <div class="margin">
          <form method="post" action="{% url 'peers_assigned' current_sub.assignment_id.pk  %}">
            {% csrf_token %}
            <input type="number" class="underline" placeholder="Marks" name="marks" min="0"
              max="{{current_sub.assignment_id.points}}" autocomplete="off"><br>
            <textarea name="question1" placeholder="Mention 1 thing that could be improved." rows="3" cols="45"
              required></textarea><br>
            <textarea name="question2" placeholder="Mention 1 thing that was informative." rows="3" cols="45"
              required></textarea><br>
            <textarea name="question3" placeholder="Mention any one thing that you learnt." rows="3" cols="45"
              required></textarea><br>

            <input type="hidden" name="cur_peer" value="{{current_sub.student.pk}}">
            <button class="btn btn-warning radius" type="submit">Save</button>
          </form>
        </div>
      </div>


    </div>
  </div>

</body>

<footer>
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top">
        <div class="footer-heading">
          <h4 style="color: white; padding: 10px 0; text-align: center;">Connect Us</h4>
          <div class="footer-social py-2" style="text-align: center;">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </div>

          <div class="address py-3" style="text-align: center;">
            <h5 style="color: white;"><i class="ti-home px-2"></i>K J Somaiya College of Engineering</h5>
          </div>
        </div>
      </div>
</footer>
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</html>
{% endblock %}