{% extends 'courses/nav.html' %}
{% load static %}

{% block content %}
<main style="overflow-x: hidden;">
  <link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />
  <!--? Hero Start -->
  <!-- <div class="slider-area">
    <div class="slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="about-details">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="about-details-cap mb-50">
            <h4>What is Peergrading?</h4>
            <p>
              Peer Grading, commonly referred to as peer assessment or peer evaluation,
              is the grading process that allow students to judge the work of other students.
            </p>
            <p>
              PeerGradeReview allows students to check and assess the work of their peers.
            </p>
          </div>

          <div class="about-details-cap mb-50">
            <h4>Why Peergrading?</h4>
            <p>
              <b>Motivation</b><br>
              Being judged by peers is one of the most powerful sources of motivation in a classroom.
            </p>
          </div>

          <div class="about-details-cap mb-50">
            <h4>Guide</h4>
            <div class="container">
              <main class="grid">
                <article>
                  <!-- <img src="https://img.freepik.com/premium-vector/3d-vector-diversity-young-man-avatar-icon-design_624031-151.jpg?w=740" alt="Sample photo"> -->

                  <img src="../../static/assets/img/hero/heroman.png" alt="Sample photo">


                  <!-- <img src="https://img.freepik.com/premium-vector/young-man-avatar-character-vector-illustration-design_24877-18516.jpg" alt="Sample photo">
                   -->
                  <div class="text mb-2">
                    <h3>Vaibhav Vasani</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="https://github.com/vaibhavvasani/" target="_blank"><i class="fa-brands fa-github"></i></a></button>

                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="https://www.linkedin.com/in/vaibhav-vasani-460a4162" target="_blank"><i class="fa-brands fa-linkedin"></i></a></button>

                    </div>
                  </div>
                </article>
              </main>
            </div>
          </div>

          <div class="about-details-cap mb-50">
            <h4>Contributors</h4>
            <div class="container">
              <main class="grid">
                <article>
                  <img src="../../static/assets/img/gallery/popular_sub1.png" alt="Sample photo">
                  <div class="text">
                    <h3>Aamir Baugwala</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="http://github.com/Aamir2709" target="_blank"><i
                            class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="https://www.linkedin.com/in/aamir-baugwala-0b9787208/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub1.png" alt="Sample photo">
                  <div class="text">
                    <h3>Bhavya Sura</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="http://github.com/Baboon12" target="_blank"><i
                            class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="https://www.linkedin.com/in/bhavya-sura/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub1.png" alt="Sample photo">
                  <div class="text">
                    <h3>Chinmay Teli</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="https://github.com/teichinmay02" target="_blank"><i
                            class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="https://www.linkedin.com/in/chinmay-teli-b621331a1/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub2.png" alt="Sample photo">
                  <div class="text">
                    <h3>Kunal Maniyar</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub2.png" alt="Sample photo">
                  <div class="text">
                    <h3>Amey Gangan</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub2.png" alt="Sample photo">
                  <div class="text">
                    <h3>Shrikant Sahu</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>

                <article>
                  <img src="../../static/assets/img/gallery/popular_sub3.png" alt="Sample photo">
                  <div class="text">
                    <h3>Mihir Mehta</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>
                <article>
                  <img src="../../static/assets/img/gallery/popular_sub3.png" alt="Sample photo">
                  <div class="text">
                    <h3>Saurabh Nambiar</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>
                <article>
                  <img src="../../static/assets/img/gallery/popular_sub3.png" alt="Sample photo">
                  <div class="text">
                    <h3>Kaushik Mehta</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>
                <article>
                  <img src="../../static/assets/img/gallery/popular_sub3.png" alt="Sample photo">
                  <div class="text">
                    <h3>Hussein Motiwala</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>
                <article>
                  <img src="../../static/assets/img/gallery/popular_sub3.png" alt="Sample photo">
                  <div class="text">
                    <h3>Nayan Mandliya</h3>
                    <div class="d-flex justify-content-center">
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-github bg-dark"><a href="#"><i class="fa-brands fa-github"></i></a></button>
                      <button style="padding: 15px; border-radius: 25%; border: 1px solid ghostwhite;"
                        class="mx-2 btn-primary"><a href="#"><i class="fa-brands fa-linkedin"></i></a></button>
                    </div>
                  </div>
                </article>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Details End -->
  <!--? Count Down Start -->
  <!-- Count Down End -->
  <!--? Testimonial Start -->

  <!-- About Law End-->
</main>
<footer>
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top">
        <div class="footer-heading">
          <h4 style="color: white; padding: 10px 0; text-align: center;">Connect Us</h4>
          <div class="footer-social py-2" style="text-align: center;">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </div>

          <div class="address py-3" style="text-align: center;">
            <h5 style="color: white;"><i class="ti-home px-2"></i>K J Somaiya College of Engineering</h5>
          </div>
        </div>
      </div>
</footer>
<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>
{% endblock %}